.edit-btn {
  border: 1px solid #eaedf3;
}
.delete-btn:hover img{
  filter:invert(28%) sepia(74%) saturate(2154%) hue-rotate(345deg) brightness(91%) contrast(88%);
  -webkit-filter:invert(28%) sepia(74%) saturate(2154%) hue-rotate(345deg) brightness(91%) contrast(88%);
}