.password-cover-bg {
  /* background-image: url('../../../../assets/images/signup-line.svg'); */
}

@media (min-width: 1200px) {
  .forgot-password-wrapper {
    padding-bottom: 600px;
  }
}

@media (min-width: 1500px) {
  .forgot-password-wrapper {
    padding-bottom: 0px;
  }
}

::-webkit-scrollbar {
  width: 0px;
}

.auth-layout-forgot {
  background-image: url('../../../../assets/images/sign-up-bg.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 50%;
  background-position: left;
}
