.password-cover-bg {
  background-image: url("../../../../assets/images/signup-line.svg");
}

@media (min-width: 1200px) {
  .forgot-password-wrapper {
    padding-bottom: 600px;
  }
}

@media (min-width: 1500px) {
  .forgot-password-wrapper {
    padding-bottom: 0px;
  }
}
