.subscription-cover-bg {
  /* background-image: url('../../../../assets/images/signup-line.svg'); */
}
@media (min-width: 1200px) {
  .subscription-wrapper {
    padding-bottom: 850px;
  }
}

@media (min-width: 1500px) {
  .subscription-wrapper {
    padding-bottom: 0px;
  }
}

::-webkit-scrollbar {
  width: 0px;
}
@media screen and (min-width: 1700px) {
  .layout-height {
    height: calc(100vh - 13rem);
  }
}

.auth-layout-section {
  background-image: url('../../../../assets/images/sign-up-bg.svg');
  background-repeat: no-repeat;
  
  background-size: 90%;
  background-position:top left;
  background-color: #f6fdff;
}
