.subscription-cover-bg {
  background-image: url("../../../../assets/images/signup-line.svg");
}
@media (min-width: 1200px) {
  .subscription-wrapper {
    padding-bottom: 850px;
  }
}

@media (min-width: 1500px) {
  .subscription-wrapper {
    padding-bottom: 0px;
  }
}


