::-webkit-scrollbar {
  width: 0px;
}

@media screen and (min-width: 2000px) {
  .layout-height {
    height: calc(100vh - 5rem);
  }
}


.auth-layout-section {
  background-image: url('../../../../assets/images/sign-up-bg.svg');
  background-repeat: no-repeat;

  background-size: 90%;
  background-position: top left;
  background-color: #f6fdff;
}