::-webkit-scrollbar {
  width: 0px;
}
.auth-layout-signUp {
  background-image: url('../../../../assets/images/sign-up-bg.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 50%;
  background-position: left;
  height: calc(100vh - -8rem);
}
