.border-table {
    border: 1px solid #e5e5e5;
  }
  .btn-drag {
    width: 54px;
    height: 54px;
    background: linear-gradient(299.41deg, #69b5e5 3.2%, #abcf6b 88.99%);
    box-shadow: 0px 4.90909px 61.3636px rgba(0, 0, 0, 0.2);
    border-radius: 9.81818px;
  }
  
  .customize-modal {
    border: 1px solid #dee2e6;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 20px 20px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
  }
  .cancel {
    box-sizing: border-box;
  
    /* position: absolute; */
    width: 84px;
    height: 45px;
    left: calc(50% - 84px / 2 + 29px);
    top: 644px;
  
    border: 1px solid #9b9b9b;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.1));
    border-radius: 4px;
  }
  
  .save {
    /* position: absolute; */
    width: 84px;
    height: 45px;
    left: calc(50% - 84px / 2 + 123px);
    top: 644px;
  
    background: linear-gradient(277.31deg, #69b5e5 1.11%, #abcf6b 100%);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  .drag-item {
    box-sizing: border-box;
    height: 45px;
    left: 557px;
    top: 229px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    box-shadow: 8.32785px 8.32785px 24.9835px rgba(2, 2, 70, 0.05);
    border-radius: 6px;
  }
  
    ::-webkit-scrollbar  {
      width: 0px;
      display: none;
    }
  