@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&family=Outfit:wght@400;500;600;700&family=Poppins:ital,wght@0,500;1,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  border: 2px solid #eff0f7;
  box-shadow: 8px 8px 24px rgba(2, 2, 70, 0.05);
}

.btn-gradient{
  background: linear-gradient(277.31deg, #69b5e5 1.11%, #abcf6b 100%);
  box-shadow: 0px 3.63636px 27.2727px rgba(0, 0, 0, 0.1);
}
.btn-disconnect-gradient{
  background: linear-gradient(8.33deg, #EE9934 24.35%, #F9C837 94.6%);
}
.google-signin {
  border: 1.92127px solid #eff0f7;
  box-shadow: 8px 8px 24px rgba(2, 2, 70, 0.05);
}
.icon-holder {
  top: 50%;
  transform: translateY(-50%);
}
.no-scroll-bar::-webkit-scrollbar {
  display: none;
}
.app-input-card-border{
  border: 1px solid #dbd8fc;
}
.app-result-card-border{
  border:2px solid #eff0f7;
}

.border-bottom-card{
  border-bottom: 1px solid #E6E6E6;
}

.border-gradient-rounded{
  position: relative;
  box-sizing: border-box;
  background: #fff;
  border-radius: 15px;
}
.border-gradient-rounded:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background:  linear-gradient(277.31deg, #69B5E5 1.11%, #ABCF6B 100%);
  border: double 1px transparent;
  background-image: linear-gradient(white, white), linear-gradient(277.31deg, #69B5E5 1.11%, #ABCF6B 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}