@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&family=Outfit:wght@400;500;600;700&family=Poppins:ital,wght@0,500;1,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  border: 2px solid #eff0f7;
  box-shadow: 8px 8px 24px rgba(2, 2, 70, 0.05);
}

.btn-gradient{
  background: linear-gradient(277.31deg, #69b5e5 1.11%, #abcf6b 100%);
  box-shadow: 0px 3.63636px 27.2727px rgba(0, 0, 0, 0.1);
}
.google-signin {
  border: 1.92127px solid #eff0f7;
  box-shadow: 8px 8px 24px rgba(2, 2, 70, 0.05);
}
.icon-holder {
  top: 50%;
  transform: translateY(-50%);
}
.no-scroll-bar::-webkit-scrollbar {
  display: none;
}
