@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,500;1,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  border: 2px solid #eff0f7;
  box-shadow: 8px 8px 24px rgba(2, 2, 70, 0.05);
}

.btn-gradient {
  background: linear-gradient(277.31deg, #69b5e5 1.11%, #abcf6b 100%);
  box-shadow: 0px 3.63636px 27.2727px rgba(0, 0, 0, 0.1);
}
.btn-disconnect-gradient{
  background: linear-gradient(8.33deg, #EE9934 24.35%, #F9C837 94.6%);
}
.google-signin {
  border: 1.92127px solid #eff0f7;
  box-shadow: 8px 8px 24px rgba(2, 2, 70, 0.05);
}

.icon-holder {
  top: 50%;
  transform: translateY(-50%);
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}
.app-input-card-border {
  border: 1px solid #dbd8fc;
}
.app-result-card-border {
  border: 2px solid #eff0f7;
}

.border-bottom-card{
  border-bottom: 1px solid #E6E6E6;
}

.border-fetching-card{
  border: 1px solid #dee2e6;
}

.border-gradient-rounded{
  position: relative;
  box-sizing: border-box;
  background: #fff;
  border-radius: 15px;
}

.border-gradient-rounded:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(277.31deg, #69b5e5 1.11%, #abcf6b 100%);
  border: double 1px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(277.31deg, #69b5e5 1.11%, #abcf6b 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.section::-webkit-scrollbar {
  width: 4.18px;
}


/* .section::-webkit-scrollbar-track {
  background-color: darkgrey;
} */

.section::-webkit-scrollbar-thumb {
  background: #EEEEEE;
  border-radius: 60px;
}

.Toastify__toast--success {
  border: 1px solid #6fcf97 !important;
  background: #6fcf97 !important;
  border-radius: 6px !important;
  min-height: 68px !important;
  max-height: 200px !important;
  padding-top: 3px !important;
  padding-right: 13px !important;
}
.Toastify__toast--error {
  border: 1px solid #eb5757 !important;
  background: #eb5757 !important;
  border-radius: 6px !important;
  min-height: 68px !important;
  max-height: 200px !important;
  padding-top: 3px !important;
  padding-right: 13px !important;
}
.Toastify__toast--warning {
  border: 1px solid #f2c94c !important;
  background: #f2c94c !important;
  border-radius: 6px !important;
  min-height: 68px !important;
  max-height: 200px !important;
  padding-top: 3px !important;
  padding-right: 13px !important;
}

.resolution-warning {
  display: none;
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #FFF;
  font-size: 20px;
  box-sizing: border-box;
  padding: 30% 50px;
}

@media screen and (max-width: 1024px) {
  .resolution-warning {
      display: block;
  }
}